<style>
    .red{color: red;}
</style>

<h3>Hi, This is first sample</h3>
<input type="text" [(ngModel)]="title">
<p>{{title}}</p>
<app-new-component></app-new-component>
<app-new-component></app-new-component>
<app-new-component></app-new-component>

<div>ngFor: import CommonModule</div>
<ul>
    <li *ngFor="let customer of customers">{{ customer.value }}</li>
</ul>

<!-- 英文月簡寫 日期, 年分 ex:Jan 21, 2025-->
<p>Today is {{today | date}}</p>
<!-- 星期幾,月份 日期, 年 ex:Tuesday, January 21, 2025-->
<p>The date is {{today | date:'fullDate'}}</p>
<!-- 小時:分鐘 上/下午 ex: 11:42 AM-->
<p>The time is {{today | date:'shortTime'}}</p>
<p>The format is {{today | date:'yyyy-MM-dd HH:mm:ss'}}</p>


<p>Data binding 資料繫結: https://angular.tw/guide/architecture-components#data-binding</p>
<div>內嵌: <span ngNonBindable>{{title}}</span> = {{title}}, <span ngNonBindable>跳脫{{ }}使用標籤設定屬性ngNonBindable</span></div>
<div>屬性連結: [屬性]="值",  Property:disable = {{buttonUse}}</div>
<button disabled={{buttonUse}}>錯誤綁定方式<span ngNonBindable>[屬性]={{值}}</span></button><br/>
<button [disabled]="buttonUse   ">Property [屬性]="值"</button>
<div>
    <div>Class Binding</div>
    <div [class.red]="buttonUse">依屬性值(T/F) 判斷是否添加class</div>
    <class-component></class-component>
</div>
<style-component></style-component>
<event-component></event-component>
<pasive-component></pasive-component>
<key-event-component></key-event-component>
<div></div>
<div></div>

<child-selector [item]="forChildData"></child-selector>
<hr/>
<child-selector (forParentData)="addMsg($event)"></child-selector>
<hr/>
<child-selector [item]="forChildData" (forParentData)="addMsg($event)"></child-selector>
<ul>
    <li *ngFor="let msg of msgs">{{msg}}</li>
</ul>

<two-way-binding [(size)]="fontSize"></two-way-binding>
<div [style.font-size.px]="fontSize">parent size: {{fontSize}}px</div>

<!--內容投影-->
<app-content>
    <!--單槽測試-->
    <div>這邊是內容投影的父元件Html標籤內容1</div>
    <div>這邊是內容投影的父元件Html標籤內容2</div>
    <div>這邊是內容投影的父元件Html標籤內容3</div>
<!--多槽測試-->
<p>p標籤</p>
<div>div標籤</div>
<p class="clazz">p + class為clazz</p>
<div class="clazz">div標籤 + class為clazz</div>
<div class="clazz cls">div標籤 + class為clazz和cls</div>
<p id="idd">p + id為idd</p>
<input type="button" value="type=button"><br>
<input type="submit" value="type=submit"><br>
<input type="text" value="type=text"><br>
<input type="text" value="type=text disabled" disabled><br>    
</app-content>
<multi-content>
    <!--多槽測試-->
    <p>p標籤</p>
    <div>div標籤</div>
    <p class="clazz">p + class為clazz</p>
    <div class="clazz">div標籤 + class為clazz</div>
    <div class="clazz cls">div標籤 + class為clazz和cls</div>
    <p id="idd">p + id為idd</p>
    <input type="button" value="type=button"><br>
    <input type="submit" value="type=submit"><br>
    <input type="text" value="type=text"><br>
    <input type="text" value="type=text disabled" disabled><br>
</multi-content>


<template-variable></template-variable>

<app-svg-template></app-svg-template>
<router-outlet />
