<style>
    .red{color: red;}
</style>

<h3>Hi, This is first sample</h3>
<input type="text" [(ngModel)]="title">
<p>{{title}}</p>
<app-new-component></app-new-component>
<app-new-component></app-new-component>
<app-new-component></app-new-component>

<div>ngFor: import CommonModule</div>
<ul>
    <li *ngFor="let customer of customers">{{ customer.value }}</li>
</ul>

<!-- 英文月簡寫 日期, 年分 ex:Jan 21, 2025-->
<p>Today is {{today | date}}</p>
<!-- 星期幾,月份 日期, 年 ex:Tuesday, January 21, 2025-->
<p>The date is {{today | date:'fullDate'}}</p>
<!-- 小時:分鐘 上/下午 ex: 11:42 AM-->
<p>The time is {{today | date:'shortTime'}}</p>
<p>The format is {{today | date:'yyyy-MM-dd HH:mm:ss'}}</p>


<p>Data binding 資料繫結: https://angular.tw/guide/architecture-components#data-binding</p>
<div>內嵌: <span ngNonBindable>{{title}}</span> = {{title}}, <span ngNonBindable>跳脫{{ }}使用標籤設定屬性ngNonBindable</span></div>
<div>屬性連結: [屬性]="值",  Property:disable = {{buttonUse}}</div>
<button disabled={{buttonUse}}>錯誤綁定方式<span ngNonBindable>[屬性]={{值}}</span></button><br/>
<button [disabled]="buttonUse   ">Property [屬性]="值"</button>
<div>
    <div>Class Binding</div>
    <div [class.red]="buttonUse">依屬性值(T/F) 判斷是否添加class</div>
    <class-component></class-component>
</div>
<style-component></style-component>
<event-component></event-component>
<pasive-component></pasive-component>
<key-event-component></key-event-component>
<div></div>
<div></div>

<child-selector [item]="forChildData"></child-selector>
<router-outlet />
